#flash {
    background-color: #000;
}

#gameframe {
    height: 400px;
    margin-top: 2em;
    width: 100%;
    cursor: none;
}

#paused-screen {
    position: absolute;
    margin: 0 auto;
    background-color: #111;
    color: #eee;
}

#health {
    width: 0px;
    height: 8px;
    background-color: #009933;
    opacity: 0.8;
    border-right: 2px solid #00ff33;
}

#hud {
    background-color: #111;
    opacity: 0.6;
    padding: 5px;
    font-size: 18px;
    color: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#instructions {
    color: #ddd;
}

#loadingBar {
    position: relative;
    width: 0px;
    height: 10px;
    background-color: red;
}

#playground {
    background-color: #111;
}

#welcomeScreen {
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

#startbutton {
    background-image: url("../../img/assets/player_invincible_powerup_big.png");
    background-size: 200px 200px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#start-image {
    display: none;
}

#title {
    position: absolute;
}

#restartbutton {
    position: absolute;
}

#resumebutton {
    position: absolute;
}
