#flash {
    background-color: #000;
}

#gameframe {
    height: 400px;
    margin-top: 2em;
    width: 100%;
    cursor: none;
}

#paused-screen {
    position: absolute;
    margin: 0 auto;
    background-color: #111;
    color: #eee;
}

#hud {
    padding: 5px;
    font-size: 18px;
    color: #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#instructions {
    color: #ddd;
}

#loadingBar {
    position: relative;
    width: 0px;
    height: 10px;
    background-color: red;
}

#playground {
    background-color: #111;
}

#welcomeScreen {
    position: absolute;
    margin: 0 auto;
}

#title {
    position: absolute;
}

#restartbutton {
    position: absolute;
}

#resumebutton {
    position: absolute;
}
