body {
    background-color: #333;
}

#flash {
    background-color: #fff;
    height: 100%;
    width: 100;
    position: absolute;
}

#gameframe {
    height: 400px;
    margin-top: 2em;
    width: 100%;
    cursor: none;
}

#hud {
    padding: 5px;
    font-size: 18px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#instructions {
    color: #ddd;
}

#loadingBar {
    position: relative;
    width: 0px;
    height: 15px;
    background-color: red;
}

#playground {
    background-color: #333;
}

#welcomeScreen {
    position: absolute;
    margin: 0 auto;
}
